#news {
    box-sizing: border-box;
    /* width: 100%; */

    height: 45vh;
    /* height: fit-content; */
    margin-bottom: 5px;
}


.even {
    background-image: linear-gradient(to left, rgb(0, 162, 255), white);
}

.odd {
    background-image: linear-gradient(to right, rgb(0, 162, 255), white);
}

.left {
    justify-content: left;
}

.right {
    justify-content: right;
}

.pad-5 {
    padding: 5px;
}

#info {
    width: 58%;
}

#photo {
    width: 40%;
    display: flex;
    max-height: 100%;
    height: 100%;
}

#title {
    text-align: justify;
    line-height: 1.6;
}

#publishedAt {
    margin: 5px 0px;
    line-height: 1.6;
}

#snippet {
    margin: 10px 0px;
    text-align: justify;
    line-height: 1.32;
}

#link {
    margin-bottom: 5px;

    word-break: break-all;
}

#photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#photo>img {
    height: auto;
    width: auto;
    object-fit: contain;
    max-height: 90%;
    max-width: 90%;
}

#main {
    display: flex;
}




.photo-wrapper {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    /* Safari */
    background-color: rgba(255, 255, 255, 0.1);
    /* optional overlay tint */
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    padding: 1rem;
}